In [117]:
### Import all necessary libraries which are needed for data frame downloading and clearnace

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn import linear_model
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [118]:
### Reading churn.csv dataset
churn = pd.read_csv("telecom_churn_data.csv", encoding= "ISO-8859-1")

In [122]:
churn.shape

(99999, 226)

In [123]:
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [124]:
churn.isnull().sum()

mobile_number        0
circle_id            0
loc_og_t2o_mou    1018
std_og_t2o_mou    1018
loc_ic_t2o_mou    1018
                  ...
aon                  0
aug_vbc_3g           0
jul_vbc_3g           0
jun_vbc_3g           0
sep_vbc_3g           0
Length: 226, dtype: int64

In [125]:
# feature type summary
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [126]:
# look at data statistics
churn.describe(include='all')

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999,99398,98899,98340,99999.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
unique,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,6/30/2014,7/31/2014,8/31/2014,9/30/2014,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,99999,99398,98899,98340,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,7.001207e+09,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,282.987358,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,328.439770,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,-2258.709000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,93.411500,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,197.704000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,371.060000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,27731.088000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

In [127]:
churn.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
 #   Column                    Dtype
---  ------                    -----
 0   mobile_number             int64
 1   circle_id                 int64
 2   loc_og_t2o_mou            float64
 3   std_og_t2o_mou            float64
 4   loc_ic_t2o_mou            float64
 5   last_date_of_month_6      object
 6   last_date_of_month_7      object
 7   last_date_of_month_8      object
 8   last_date_of_month_9      object
 9   arpu_6                    float64
 10  arpu_7                    float64
 11  arpu_8                    float64
 12  arpu_9                    float64
 13  onnet_mou_6               float64
 14  onnet_mou_7               float64
 15  onnet_mou_8               float64
 16  onnet_mou_9               float64
 17  offnet_mou_6              float64
 18  offnet_mou_7              float64
 19  offnet_mou_8              float64
 20  offnet_mou_9              float64
 21  roam_ic_mou_6             float64
 22  roam_ic_mou_7             float64
 23  roam_ic_mou_8             float64
 24  roam_ic_mou_9             float64
 25  roam_og_mou_6             float64
 26  roam_og_mou_7             float64
 27  roam_og_mou_8             float64
 28  roam_og_mou_9             float64
 29  loc_og_t2t_mou_6          float64
 30  loc_og_t2t_mou_7          float64
 31  loc_og_t2t_mou_8          float64
 32  loc_og_t2t_mou_9          float64
 33  loc_og_t2m_mou_6          float64
 34  loc_og_t2m_mou_7          float64
 35  loc_og_t2m_mou_8          float64
 36  loc_og_t2m_mou_9          float64
 37  loc_og_t2f_mou_6          float64
 38  loc_og_t2f_mou_7          float64
 39  loc_og_t2f_mou_8          float64
 40  loc_og_t2f_mou_9          float64
 41  loc_og_t2c_mou_6          float64
 42  loc_og_t2c_mou_7          float64
 43  loc_og_t2c_mou_8          float64
 44  loc_og_t2c_mou_9          float64
 45  loc_og_mou_6              float64
 46  loc_og_mou_7              float64
 47  loc_og_mou_8              float64
 48  loc_og_mou_9              float64
 49  std_og_t2t_mou_6          float64
 50  std_og_t2t_mou_7          float64
 51  std_og_t2t_mou_8          float64
 52  std_og_t2t_mou_9          float64
 53  std_og_t2m_mou_6          float64
 54  std_og_t2m_mou_7          float64
 55  std_og_t2m_mou_8          float64
 56  std_og_t2m_mou_9          float64
 57  std_og_t2f_mou_6          float64
 58  std_og_t2f_mou_7          float64
 59  std_og_t2f_mou_8          float64
 60  std_og_t2f_mou_9          float64
 61  std_og_t2c_mou_6          float64
 62  std_og_t2c_mou_7          float64
 63  std_og_t2c_mou_8          float64
 64  std_og_t2c_mou_9          float64
 65  std_og_mou_6              float64
 66  std_og_mou_7              float64
 67  std_og_mou_8              float64
 68  std_og_mou_9              float64
 69  isd_og_mou_6              float64
 70  isd_og_mou_7              float64
 71  isd_og_mou_8              float64
 72  isd_og_mou_9              float64
 73  spl_og_mou_6              float64
 74  spl_og_mou_7              float64
 75  spl_og_mou_8              float64
 76  spl_og_mou_9              float64
 77  og_others_6               float64
 78  og_others_7               float64
 79  og_others_8               float64
 80  og_others_9               float64
 81  total_og_mou_6            float64
 82  total_og_mou_7            float64
 83  total_og_mou_8            float64
 84  total_og_mou_9            float64
 85  loc_ic_t2t_mou_6          float64
 86  loc_ic_t2t_mou_7          float64
 87  loc_ic_t2t_mou_8          float64
 88  loc_ic_t2t_mou_9          float64
 89  loc_ic_t2m_mou_6          float64
 90  loc_ic_t2m_mou_7          float64
 91  loc_ic_t2m_mou_8          float64
 92  loc_ic_t2m_mou_9          float64
 93  loc_ic_t2f_mou_6          float64
 94  loc_ic_t2f_mou_7          float64
 95  loc_ic_t2f_mou_8          float64
 96  loc_ic_t2f_mou_9          float64
 97  loc_ic_mou_6              float64
 98  loc_ic_mou_7              float64
 99  loc_ic_mou_8              float64
 100 loc_ic_mou_9              float64
 101 std_ic_t2t_mou_6          float64
 102 std_ic_t2t_mou_7          float64
 103 std_ic_t2t_mou_8          float64
 104 std_ic_t2t_mou_9          float64
 105 std_ic_t2m_mou_6          float64
 106 std_ic_t2m_mou_7          float64
 107 std_ic_t2m_mou_8          float64
 108 std_ic_t2m_mou_9          float64
 109 std_ic_t2f_mou_6          float64
 110 std_ic_t2f_mou_7          float64
 111 std_ic_t2f_mou_8          float64
 112 std_ic_t2f_mou_9          float64
 113 std_ic_t2o_mou_6          float64
 114 std_ic_t2o_mou_7          float64
 115 std_ic_t2o_mou_8          float64
 116 std_ic_t2o_mou_9          float64
 117 std_ic_mou_6              float64
 118 std_ic_mou_7              float64
 119 std_ic_mou_8              float64
 120 std_ic_mou_9              float64
 121 total_ic_mou_6            float64
 122 total_ic_mou_7            float64
 123 total_ic_mou_8            float64
 124 total_ic_mou_9            float64
 125 spl_ic_mou_6              float64
 126 spl_ic_mou_7              float64
 127 spl_ic_mou_8              float64
 128 spl_ic_mou_9              float64
 129 isd_ic_mou_6              float64
 130 isd_ic_mou_7              float64
 131 isd_ic_mou_8              float64
 132 isd_ic_mou_9              float64
 133 ic_others_6               float64
 134 ic_others_7               float64
 135 ic_others_8               float64
 136 ic_others_9               float64
 137 total_rech_num_6          int64
 138 total_rech_num_7          int64
 139 total_rech_num_8          int64
 140 total_rech_num_9          int64
 141 total_rech_amt_6          int64
 142 total_rech_amt_7          int64
 143 total_rech_amt_8          int64
 144 total_rech_amt_9          int64
 145 max_rech_amt_6            int64
 146 max_rech_amt_7            int64
 147 max_rech_amt_8            int64
 148 max_rech_amt_9            int64
 149 date_of_last_rech_6       object
 150 date_of_last_rech_7       object
 151 date_of_last_rech_8       object
 152 date_of_last_rech_9       object
 153 last_day_rch_amt_6        int64
 154 last_day_rch_amt_7        int64
 155 last_day_rch_amt_8        int64
 156 last_day_rch_amt_9        int64
 157 date_of_last_rech_data_6  object
 158 date_of_last_rech_data_7  object
 159 date_of_last_rech_data_8  object
 160 date_of_last_rech_data_9  object
 161 total_rech_data_6         float64
 162 total_rech_data_7         float64
 163 total_rech_data_8         float64
 164 total_rech_data_9         float64
 165 max_rech_data_6           float64
 166 max_rech_data_7           float64
 167 max_rech_data_8           float64
 168 max_rech_data_9           float64
 169 count_rech_2g_6           float64
 170 count_rech_2g_7           float64
 171 count_rech_2g_8           float64
 172 count_rech_2g_9           float64
 173 count_rech_3g_6           float64
 174 count_rech_3g_7           float64
 175 count_rech_3g_8           float64
 176 count_rech_3g_9           float64
 177 av_rech_amt_data_6        float64
 178 av_rech_amt_data_7        float64
 179 av_rech_amt_data_8        float64
 180 av_rech_amt_data_9        float64
 181 vol_2g_mb_6               float64
 182 vol_2g_mb_7               float64
 183 vol_2g_mb_8               float64
 184 vol_2g_mb_9               float64
 185 vol_3g_mb_6               float64
 186 vol_3g_mb_7               float64
 187 vol_3g_mb_8               float64
 188 vol_3g_mb_9               float64
 189 arpu_3g_6                 float64
 190 arpu_3g_7                 float64
 191 arpu_3g_8                 float64
 192 arpu_3g_9                 float64
 193 arpu_2g_6                 float64
 194 arpu_2g_7                 float64
 195 arpu_2g_8                 float64
 196 arpu_2g_9                 float64
 197 night_pck_user_6          float64
 198 night_pck_user_7          float64
 199 night_pck_user_8          float64
 200 night_pck_user_9          float64
 201 monthly_2g_6              int64
 202 monthly_2g_7              int64
 203 monthly_2g_8              int64
 204 monthly_2g_9              int64
 205 sachet_2g_6               int64
 206 sachet_2g_7               int64
 207 sachet_2g_8               int64
 208 sachet_2g_9               int64
 209 monthly_3g_6              int64
 210 monthly_3g_7              int64
 211 monthly_3g_8              int64
 212 monthly_3g_9              int64
 213 sachet_3g_6               int64
 214 sachet_3g_7               int64
 215 sachet_3g_8               int64
 216 sachet_3g_9               int64
 217 fb_user_6                 float64
 218 fb_user_7                 float64
 219 fb_user_8                 float64
 220 fb_user_9                 float64
 221 aon                       int64
 222 aug_vbc_3g                float64
 223 jul_vbc_3g                float64
 224 jun_vbc_3g                float64
 225 sep_vbc_3g                float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [128]:
len(churn.columns)

226

In [129]:
churn.columns

Index(['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou',
       'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7',
       'last_date_of_month_8', 'last_date_of_month_9', 'arpu_6',
       ...
       'sachet_3g_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9',
       'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g'],
      dtype='object', length=226)

In [130]:
##row wise missing value count
churn.isnull().sum(axis=0)

mobile_number        0
circle_id            0
loc_og_t2o_mou    1018
std_og_t2o_mou    1018
loc_ic_t2o_mou    1018
                  ...
aon                  0
aug_vbc_3g           0
jul_vbc_3g           0
jun_vbc_3g           0
sep_vbc_3g           0
Length: 226, dtype: int64

In [134]:
round(100*(churn.isnull().sum()/len(churn.index)),2)

mobile_number     0.00
circle_id         0.00
loc_og_t2o_mou    1.02
std_og_t2o_mou    1.02
loc_ic_t2o_mou    1.02
                  ...
aon               0.00
aug_vbc_3g        0.00
jul_vbc_3g        0.00
jun_vbc_3g        0.00
sep_vbc_3g        0.00
Length: 226, dtype: float64

In [135]:
# checking null values
churn_col = churn.isnull().sum()
# find out columns which have nulls
churn_col = churn_col[churn_col > 0]
# % of columns missing
print(round(100*churn_col[churn_col > 0]/len(churn),2))

loc_og_t2o_mou           1.02
std_og_t2o_mou           1.02
loc_ic_t2o_mou           1.02
last_date_of_month_7     0.60
last_date_of_month_8     1.10
                        ...
night_pck_user_9        74.08
fb_user_6               74.85
fb_user_7               74.43
fb_user_8               73.66
fb_user_9               74.08
Length: 166, dtype: float64

In [136]:
churn.shape

(99999, 226)

## In churn prediction, we assume that there are three phases of customer lifecycle :

The â€˜goodâ€™ phase [Month 6 & 7]
The â€˜actionâ€™ phase [Month 8]
The â€˜churnâ€™ phase [Month 9]
In this case, since you are working over a four-month window, the first two months are the â€˜goodâ€™ phase, the third month is the â€˜actionâ€™ phase, while the fourth month is the â€˜churnâ€™ phase.

## Derive the new features

In [137]:
### We wull extract list of columns contain recharge amount
churn_rchg_col = churn.columns[churn.columns.str.contains('rech_amt|rech_data')]
print(churn_rchg_col)

Index(['total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8',
       'total_rech_amt_9', 'max_rech_amt_6', 'max_rech_amt_7',
       'max_rech_amt_8', 'max_rech_amt_9', 'date_of_last_rech_data_6',
       'date_of_last_rech_data_7', 'date_of_last_rech_data_8',
       'date_of_last_rech_data_9', 'total_rech_data_6', 'total_rech_data_7',
       'total_rech_data_8', 'total_rech_data_9', 'max_rech_data_6',
       'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9',
       'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8',
       'av_rech_amt_data_9'],
      dtype='object')

From above features we can derive more meaningful information :

Total recharge amount
Total recharge for data
Maximum recharge amount
Last date of Recharging the data
Average recharge amount for data.
Maximum recharge for data.

In [138]:
### Checking missing values percentages
churn_null_check = 100*churn.loc[:,churn_rchg_col].isnull().sum()/len(churn)
df = pd.DataFrame(churn_null_check)
df.rename(columns={0:'Null_Percentage'}, inplace=True)
#df = pd.DataFrame(df.Null_Percentage).style.applymap(color_red)
print(df)

                          Null_Percentage
total_rech_amt_6                 0.000000
total_rech_amt_7                 0.000000
total_rech_amt_8                 0.000000
total_rech_amt_9                 0.000000
max_rech_amt_6                   0.000000
max_rech_amt_7                   0.000000
max_rech_amt_8                   0.000000
max_rech_amt_9                   0.000000
date_of_last_rech_data_6        74.846748
date_of_last_rech_data_7        74.428744
date_of_last_rech_data_8        73.660737
date_of_last_rech_data_9        74.077741
total_rech_data_6               74.846748
total_rech_data_7               74.428744
total_rech_data_8               73.660737
total_rech_data_9               74.077741
max_rech_data_6                 74.846748
max_rech_data_7                 74.428744
max_rech_data_8                 73.660737
max_rech_data_9                 74.077741
av_rech_amt_data_6              74.846748
av_rech_amt_data_7              74.428744
av_rech_amt_data_8              73.660737
av_rech_amt_data_9              74.077741

#### From above analysis, we  can see more then **74%** values for **recharge** related data are missing. Let us find the max and mean value through describe funtion

In [139]:
churn.loc[:,churn_rchg_col].describe()

,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,total_rech_amt_9,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,max_rech_amt_9,total_rech_data_6,total_rech_data_7,total_rech_data_8,total_rech_data_9,max_rech_data_6,max_rech_data_7,max_rech_data_8,max_rech_data_9,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9
count,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.00000,25153.000000,25571.000000,26339.000000,25922.000000
mean,327.514615,322.962970,324.157122,303.345673,104.637486,104.752398,107.728207,101.943889,2.463802,2.666419,2.651999,2.441170,126.393392,126.729459,125.717301,124.94144,192.600982,200.981292,197.526489,192.734315
std,398.019701,408.114237,416.540455,404.588583,120.614894,124.523970,126.902505,125.375109,2.789128,3.031593,3.074987,2.516339,108.477235,109.765267,109.437851,111.36376,192.646318,196.791224,191.301305,188.400286
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,0.500000,0.500000,1.000000
25%,109.000000,100.000000,90.000000,52.000000,30.000000,30.000000,30.000000,28.000000,1.000000,1.000000,1.000000,1.000000,25.000000,25.000000,25.000000,25.00000,82.000000,92.000000,87.000000,69.000000
50%,230.000000,220.000000,225.000000,200.000000,110.000000,110.000000,98.000000,61.000000,1.000000,1.000000,1.000000,2.000000,145.000000,145.000000,145.000000,145.00000,154.000000,154.000000,154.000000,164.000000
75%,437.500000,428.000000,434.500000,415.000000,120.000000,128.000000,144.000000,144.000000,3.000000,3.000000,3.000000,3.000000,177.000000,177.000000,179.000000,179.00000,252.000000,252.000000,252.000000,252.000000
max,35190.000000,40335.000000,45320.000000,37235.000000,4010.000000,4010.000000,4449.000000,3399.000000,61.000000,54.000000,60.000000,84.000000,1555.000000,1555.000000,1555.000000,1555.00000,7546.000000,4365.000000,4076.000000,4061.000000

In [140]:
len(churn_rchg_col)

24

We can create new feature as total_rech_amt_data_x using total_rech_data_X and av_rech_amt_data_X to capture amount utilized by customer for data.

**Analysis:** Also as the minimum value is 1 for above columns so we can impute the NA values by 0 which is considered as no recharge

In [141]:
churn['total_rech_data_6'] = churn['total_rech_data_6'].replace(np.NaN,0.0)
churn['total_rech_data_7'] = churn['total_rech_data_7'].replace(np.NaN,0.0)
churn['total_rech_data_8'] = churn['total_rech_data_8'].replace(np.NaN,0.0)

In [142]:
churn['av_rech_amt_data_6'] = churn['av_rech_amt_data_6'].replace(np.NaN,0.0)
churn['av_rech_amt_data_7'] = churn['av_rech_amt_data_7'].replace(np.NaN,0.0)
churn['av_rech_amt_data_8'] = churn['av_rech_amt_data_8'].replace(np.NaN,0.0)

In [143]:
churn.loc[:,churn_rchg_col].describe()

,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,total_rech_amt_9,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,max_rech_amt_9,total_rech_data_6,total_rech_data_7,total_rech_data_8,total_rech_data_9,max_rech_data_6,max_rech_data_7,max_rech_data_8,max_rech_data_9,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9
count,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.00000,99999.000000,99999.000000,99999.000000,25922.000000
mean,327.514615,322.962970,324.157122,303.345673,104.637486,104.752398,107.728207,101.943889,0.619726,0.681837,0.698517,2.441170,126.393392,126.729459,125.717301,124.94144,48.445409,51.393440,52.027022,192.734315
std,398.019701,408.114237,416.540455,404.588583,120.614894,124.523970,126.902505,125.375109,1.760541,1.924382,1.963417,2.516339,108.477235,109.765267,109.437851,111.36376,127.743863,132.629365,131.182609,188.400286
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000,1.000000
25%,109.000000,100.000000,90.000000,52.000000,30.000000,30.000000,30.000000,28.000000,0.000000,0.000000,0.000000,1.000000,25.000000,25.000000,25.000000,25.00000,0.000000,0.000000,0.000000,69.000000
50%,230.000000,220.000000,225.000000,200.000000,110.000000,110.000000,98.000000,61.000000,0.000000,0.000000,0.000000,2.000000,145.000000,145.000000,145.000000,145.00000,0.000000,0.000000,0.000000,164.000000
75%,437.500000,428.000000,434.500000,415.000000,120.000000,128.000000,144.000000,144.000000,1.000000,1.000000,1.000000,3.000000,177.000000,177.000000,179.000000,179.00000,8.250000,17.000000,23.000000,252.000000
max,35190.000000,40335.000000,45320.000000,37235.000000,4010.000000,4010.000000,4449.000000,3399.000000,61.000000,54.000000,60.000000,84.000000,1555.000000,1555.000000,1555.000000,1555.00000,7546.000000,4365.000000,4076.000000,4061.000000

### Filter High Value Customers

In [144]:
##let us derive new column with av_rech-amt * total_rech_data
churn['total_rech_data_amt_6'] = churn['av_rech_amt_data_6'] * churn['total_rech_data_6']
churn['total_rech_data_amt_7'] = churn['av_rech_amt_data_7'] * churn['total_rech_data_7']
churn['total_rech_data_amt_8'] = churn['av_rech_amt_data_8'] * churn['total_rech_data_8']
churn['total_rech_data_amt_9'] = churn['av_rech_amt_data_9'] * churn['total_rech_data_9']

In [145]:
churn_av_rech_6n7 = (churn['total_rech_amt_6'].fillna(0) 
+ churn['total_rech_amt_7'].fillna(0) 
+ churn['total_rech_data_amt_6'].fillna(0) 
+ churn['total_rech_data_amt_7'].fillna(0))/2

In [146]:
# now we dont need columns av_rech_amt_data_x,total_rech_data_x (x = 6/7/8) , lets drop them
churn.drop(['total_rech_data_6','total_rech_data_7','total_rech_data_8','total_rech_data_9',
'av_rech_amt_data_6','av_rech_amt_data_7','av_rech_amt_data_8','av_rech_amt_data_9'],axis = 1,inplace = True)

In [147]:
### take 70 percentile of the calculated average amount
percentile_70 = np.percentile(churn_av_rech_6n7, 70.0)
#percentile_70_6n7 = np.percentile(telecom_av_rech_6n7, 70.0)
print("70 percentile is : ", percentile_70)

churn_cust = churn[churn_av_rech_6n7 >= percentile_70]
#print(churn_cust)
print("Dimensions of the filtered dataset:",churn_cust.shape)

70 percentile is :  478.0
Dimensions of the filtered dataset: (30001, 222)

### Then proceed further to create churn variable after finding the high value customers

In [148]:
# lets introduce a new column "churn", values would be either 1 (churn) or 0 (non-churn)
# we will calculate churn/non-churn based on the usage as mentioned in the problem statement
churn_cust['churn'] = np.where(churn_cust[['total_ic_mou_9','total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']].sum(axis=1) == 0, 1,0)
churn_cust.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_data_amt_6,total_rech_data_amt_7,total_rech_data_amt_8,total_rech_data_amt_9,churn
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,968,30.40,0.00,101.20,3.58,252.0,252.0,252.0,NaN,1
7,7000701601,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,...,802,57.74,19.38,18.74,0.00,0.0,0.0,0.0,NaN,1
8,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,315,21.03,910.65,122.16,0.00,0.0,354.0,207.0,NaN,0
21,7002124215,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,514.453,...,720,0.00,0.00,0.00,0.00,0.0,0.0,0.0,NaN,0
23,7000887461,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,74.350,...,604,40.45,51.86,0.00,0.00,0.0,712.0,540.0,252.0,0

In [149]:
# lets find out churn/non churn percentage
churn_cust['churn'].value_counts()
churn_cust['churn'].value_counts() /len(churn_cust )*100
#observation : 92% of the customers do not churn, this might be a case of class imbalance, we will treat it later

0    91.863605
1     8.136395
Name: churn, dtype: float64

In [150]:
# lets check the null values present in the dataset
(churn_cust.isnull().sum()*100/len(churn_cust)).sort_values(ascending = False)

count_rech_3g_9             49.268358
count_rech_2g_9             49.268358
date_of_last_rech_data_9    49.268358
total_rech_data_amt_9       49.268358
max_rech_data_9             49.268358
                              ...
last_day_rch_amt_9           0.000000
vol_2g_mb_6                  0.000000
vol_2g_mb_7                  0.000000
vol_2g_mb_8                  0.000000
mobile_number                0.000000
Length: 223, dtype: float64

In [151]:
### lets drop Columns with > 30% of missing values except 9th Month's columns
cols = churn_cust.columns
churn_null_perc = churn_cust.isnull().sum() * 100 / len(churn_cust)
churn_null_df = pd.DataFrame({'col_name': cols,
                                 'perc_null': churn_null_perc})

###drop the columns only it has string _9 & with missing value percentage is >=30%
drop_cols = churn_null_df.loc[(churn_null_df["col_name"].str.contains('_9')==False) & (churn_null_df["perc_null"] > 30.0)]["col_name"]
print("list of columns dropped:",drop_cols)

# lets drop these columns
churn_cust.drop(drop_cols, axis=1,inplace = True)
print(churn_cust.shape)

list of columns dropped: date_of_last_rech_data_6    date_of_last_rech_data_6
date_of_last_rech_data_7    date_of_last_rech_data_7
date_of_last_rech_data_8    date_of_last_rech_data_8
max_rech_data_6                      max_rech_data_6
max_rech_data_7                      max_rech_data_7
max_rech_data_8                      max_rech_data_8
count_rech_2g_6                      count_rech_2g_6
count_rech_2g_7                      count_rech_2g_7
count_rech_2g_8                      count_rech_2g_8
count_rech_3g_6                      count_rech_3g_6
count_rech_3g_7                      count_rech_3g_7
count_rech_3g_8                      count_rech_3g_8
arpu_3g_6                                  arpu_3g_6
arpu_3g_7                                  arpu_3g_7
arpu_3g_8                                  arpu_3g_8
arpu_2g_6                                  arpu_2g_6
arpu_2g_7                                  arpu_2g_7
arpu_2g_8                                  arpu_2g_8
night_pck_user_6                    night_pck_user_6
night_pck_user_7                    night_pck_user_7
night_pck_user_8                    night_pck_user_8
fb_user_6                                  fb_user_6
fb_user_7                                  fb_user_7
fb_user_8                                  fb_user_8
Name: col_name, dtype: object
(30001, 199)

In [152]:
## we will set intial churn=0
churn_cust['churn'] = 0

In [153]:
#is_churned boolean flag for customers where above values are zero
is_churn = (churn_cust.total_ic_mou_9 == 0) & \
             (churn_cust.total_og_mou_9 == 0) & \
             (churn_cust.vol_2g_mb_9 ==0) & \
             (churn_cust.vol_3g_mb_9 ==0)

In [154]:
## set all features are having is_churn True condition as 1
churn_cust.loc[is_churn, 'churn']=1

In [155]:
# let us check what's the % of churned customers
100*churn_cust.churn.sum()/len(churn_cust)

8.136395453484884

### After tagging churners, remove all the attributes corresponding to the churn phase (all attributes having â€˜ _9â€™, etc. in their names).

In [156]:
churn_mon_col =  churn_cust.columns[churn_cust.columns.str.contains('_9')]
print(len(churn_mon_col))
print(churn_cust.shape)

53
(30001, 199)

In [157]:
###let us remove all the columns or attributes corresponding to the churn phase which are having _9 in their names.
churn_cust.drop(churn_mon_col, axis=1, inplace=True)

In [158]:
print(churn.shape)
print(churn_cust.shape)

(99999, 222)
(30001, 146)

In [160]:
print(round(100*(churn_cust.isnull().sum()/len(churn_cust.index)),2))

mobile_number            0.00
circle_id                0.00
loc_og_t2o_mou           0.75
std_og_t2o_mou           0.75
loc_ic_t2o_mou           0.75
                         ...
sep_vbc_3g               0.00
total_rech_data_amt_6    0.00
total_rech_data_amt_7    0.00
total_rech_data_amt_8    0.00
churn                    0.00
Length: 146, dtype: float64

# EDA